<div style="text-align: center; margin-bottom: 10px; font-weight: bold; display: none;">
    <a href="<%= @login_url %>">Login to start using Instapipe (this requires a Facebook Business Account)</a>
</div>