/* Just Demo specific stuff */

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 43px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    color: #686868;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: center;
    text-justify: inter-word;
}

#story-available {
    margin-left: auto;
    margin-right: auto;
}
